# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=seu_usuario_aqui
POSTGRES_PASSWORD=sua_senha_segura_aqui
POSTGRES_DB=clickbeard_db

# Configurações da API
JWT_SECRET=sua_chave_jwt_super_secreta_aqui
TZ=America/Sao_Paulo
BACKEND_PORT=3001

# Configurações do Frontend
FRONTEND_PORT=5173
